body {
	margin:0px;
}

*{font-family: 'Josefin Sans', sans-serif;}

.navbar {
	background:#000;
	width:100%;
	margin: 0px;
	padding: 5px 0px 5px 15px;
}

.navbar span {
	color:#fff;
	margin: 5px 10px;
}

.main {
	width:100%;
	margin-top:200px;
	text-align: center;
}

.main h1 {
	font-size: 100px;
}

.main input {
	width: 500px;
	height: 40px;
	margin-top: -70px;
	font-size:20px;
	line-height: 40px;
}

.main button {
	border-radius: 0px;
	background: #e50000;
	border: none;
	border-bottom: 2px #b20000 solid;
	font-size: 20px;
	line-height: 20px;
	color:#fff;
	padding: 11px 5px 6px 5px;
}